# Predicion de ingresospeliculas IMDB

In [1]:
import numpy as np
import pandas as pd
import matplotlib

In [2]:
movies=pd.read_csv('peliculas.csv', encoding='UTF-8')

In [3]:
financials= pd.read_csv ('thenumbers.csv', encoding='UTF-8')

In [4]:
financials.head()

,Unnamed: 0,movie_name,domestic_gross,movie_link,production_budget,release_date,worldwide_gross,movie_title
0,0,Avatar,760507625,http://www.the-numbers.com/movie/Avatar#tab=su...,425000000,12/18/2009,2783918982,Avatar
1,1,Star Wars Ep. VII: The Force Awakens,936662225,http://www.the-numbers.com/movie/Star-Wars-Ep-...,306000000,12/18/2015,2058662225,Star Wars: Episode VII - The Force Awakens ...
2,2,Pirates of the Caribbean: At World's End,309420425,http://www.the-numbers.com/movie/Pirates-of-th...,300000000,5/24/2007,963420425,Pirates of the Caribbean: At World's End
3,3,Spectre,200074175,http://www.the-numbers.com/movie/Spectre#tab=s...,300000000,11/6/2015,879620923,Spectre
4,4,The Dark Knight Rises,448139099,http://www.the-numbers.com/movie/Dark-Knight-R...,275000000,7/20/2012,1084439099,The Dark Knight Rises

In [5]:
movies.shape

(5043, 19)

In [6]:
movies_V2=pd.merge(movies,financials,on='movie_title',how='right')

In [8]:
movies_V2.dtypes== float

movie_title                  False
title_year                    True
color                        False
aspect_ratio                  True
duration                      True
language                     False
country                      False
duration.1                    True
genres                       False
content_rating               False
plot_keywords                False
director_name                False
actor_1_name                 False
actor_2_name                 False
actor_3_name                 False
cast_total_facebook_likes    False
budget                        True
imdb_score                    True
gross                         True
Unnamed: 0                   False
movie_name                   False
domestic_gross               False
movie_link                   False
production_budget            False
release_date                 False
worldwide_gross              False
dtype: bool

In [11]:
movies_V2.dtypes == int

movie_title                  False
title_year                   False
color                        False
aspect_ratio                 False
duration                     False
language                     False
country                      False
duration.1                   False
genres                       False
content_rating               False
plot_keywords                False
director_name                False
actor_1_name                 False
actor_2_name                 False
actor_3_name                 False
cast_total_facebook_likes    False
budget                       False
imdb_score                   False
gross                        False
Unnamed: 0                   False
movie_name                   False
domestic_gross               False
movie_link                   False
production_budget            False
release_date                 False
worldwide_gross              False
dtype: bool

In [12]:
num=movies_V2.dtypes== float

In [13]:
num_cols = [c for c in num.index if num[c]]

In [14]:
num_cols.append('movie_title')
num_cols.append('cast_total_facebook_likes')
num_cols.append('worldwide_gross')

In [15]:
num_cols

['title_year',
 'aspect_ratio',
 'duration',
 'duration.1',
 'budget',
 'imdb_score',
 'gross',
 'movie_title',
 'cast_total_facebook_likes',
 'worldwide_gross']

In [16]:
movies_V3=movies_V2[num_cols]

In [17]:
movies_V3.notnull().apply(pd.Series.value_counts)

,title_year,aspect_ratio,duration,duration.1,budget,imdb_score,gross,movie_title,cast_total_facebook_likes,worldwide_gross
False,27,274,13,13,335,NaN,671,NaN,NaN,NaN
True,4358,4111,4372,4372,4050,4385.0,3714,4385.0,4385.0,4385.0

In [18]:
(movies_V3 !=0).apply(pd.Series.value_counts)

,title_year,aspect_ratio,duration,duration.1,budget,imdb_score,gross,movie_title,cast_total_facebook_likes,worldwide_gross
False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,281
True,4385.0,4385.0,4385.0,4385.0,4385.0,4385.0,4385.0,4385.0,4358,4104

In [23]:
available =((movies_V3!=0)&(movies_V3.notnull()))
available.all(axis=1).value_counts()

True     3408
False     977
dtype: int64

In [29]:
mask=available['worldwide_gross']

In [31]:
movies_V3= movies_V3[mask]

C:\Users\eslop\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.